<div ng-class="header">
  <auth-menu></auth-menu>

  <img src="/assets/images/me.jpg" width="200" height="200"  class="img-circle"/><br />

  <article>
    <p>This is ravi mone, currently working in techjini solutions as software engineer, main filed of interest includes javascript, php,
      mysql and angularjs,<hr />
    In my free time, I would love to spend time in learning new technologies, and also like to spend time in stackoverflow.</hr>

  </article>

  <a href="http://in.linkedin.com/pub/ravi-mone/19/265/49b/" target="_blank">LinkedIn Profile</a><br />
  <a href="https://www.facebook.com/ravi.mone.3" target="_blank">Facebook</a><br />

</div>

