<div class="row">

    <div class="col-md-12" style="border: 1px;">

        <div class="col-md-1" style="text-align: right;" >
            <b>Photo</b>
        </div>
        <div class="col-md-3">
            <div class="col-md-12">
                <div class="col-md-4" style="text-align: right;padding-right: 0px;" >
                    <span class="glyphicon " id="position" title="Filtering Points" style="cursor:pointer;"  ></span>
                    <a > <b>Name  </b> </a>
                </div>
                <div class="col-md-5" style="text-align: right;padding-right: 0px;"><b>Sur Name</b></div>
                <div class="col-md-3">
                    <b>Nation</b>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <b>Brand </b>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="col-md-3">
                    <b></b>

                    <span class="glyphicon glyphicon-sort" id="points"  (click)="sortBy('points')" style="cursor:pointer;" title="Filtering Points"></span>
                    <a (click)="sortBy('points')"> <b>Points  </b> </a>
                </div>
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-sort"   (click)="sortBy('position')" id="position" title="Filtering Points" style="cursor:pointer;"  ></span>
                    <a > <b>Position  </b> </a>
                </div>
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-sort" id="wins"   (click)="sortBy('wins')" title="Filtering Points" style="cursor:pointer;"  ></span>
                    <a  > <b>Matches  </b></a>
                </div>
                <div class="col-md-3">
                    <b>Wiki</b>
                </div>
            </div>

        </div>

    </div>

</div>
